#info{
    color: blue;
}
 
.title2{

    font-family: 'Sansita', sans-serif;
}
            

            
ul li{
               
font-style: italic; 
            
}

.container{

    margin-left: 35%
    
}

.table-sstriped{
                 
    @table-bg-accent: #f9f9f9
    
}